<nav class="navbar navbar-expand-lg navbar-light bg-white border border-dark p-4">
  <div class="col-3">


 
  <a class="navbar-brand"  href="http://localhost:4200">
    <img src="../assets/images/latexlogo2.png" width="100" height="70" alt="">
  </a>

</div>
  <div class="d-flex justify-content-end col-9">

    
  <h2 *ngIf="currentUserUsername" class="me-2">{{currentUserUsername}}</h2>
  <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" *ngIf="!currentUserUsername" class="btn btn-outline-dark rounded-pill ">Log in</a>
  <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page"  *ngIf="currentUserUsername" class="btn btn-outline-dark rounded-pill " (click)='logoutUser()' >Log out</a>

  <a routerLink="/signup" routerLinkActive="active" ariaCurrentWhenActive="page" class="btn btn-outline-dark rounded-pill ms-2 me-2">Sign up</a>


</div>


</nav>



<router-outlet></router-outlet>