<h1>Create Account</h1>

<form [formGroup]="signup_form" (ngSubmit)="signUpUser()">
  <label for="full_name">Full Name</label><br />
  <input
    type="text"
    [formControl]="signup_form.controls.full_name"
    id="full_name"
    name="full_name"
  /><br />

  <div
    class="text-danger"
    *ngIf="
      signup_form.controls['full_name'].invalid &&
      (signup_form.controls['full_name'].touched ||
        signup_form.controls['full_name'].dirty)
    "
  >
    <span *ngIf="signup_form.controls['full_name'].errors?.['required']"
      >*This field is required</span
    >
    <span *ngIf="signup_form.controls['full_name'].errors?.['maxlength']">
      *Max length is 30 characters</span
    >
  </div>

  <label for="username">Username</label><br />
  <input
    type="text"
    [formControl]="signup_form.controls.username"
    id="username"
    name="username"
  /><br />
  <div
    class="text-danger"
    *ngIf="
      signup_form.controls['username'].invalid &&
      (signup_form.controls['username'].touched ||
        signup_form.controls['username'].dirty)
    "
  >
    <span *ngIf="signup_form.controls['username'].errors?.['required']"
      >*This field is required</span
    >
    <span *ngIf="signup_form.controls['username'].errors?.['maxlength']">
      *Max length is 30 characters</span
    >
  </div>

  <label for="email">Email</label><br />
  <input
    type="text"
    [formControl]="signup_form.controls.email"
    id="email"
    name="email"
  /><br />
  <div
    class="text-danger"
    *ngIf="
      signup_form.controls['email'].invalid &&
      (signup_form.controls['email'].touched ||
        signup_form.controls['email'].dirty)
    "
  >
    <span *ngIf="signup_form.controls['email'].errors?.['required']"
      >*This field is required</span
    >
    <span *ngIf="signup_form.controls['email'].errors?.['email']">
      *Email is not valid</span
    >
  </div>

  <label for="password">Password</label><br />
  <input
    type="password"
    [formControl]="signup_form.controls.password"
    id="password"
    name="password"
  /><br />

  <div
    class="text-danger"
    *ngIf="
      signup_form.controls['password'].invalid &&
      (signup_form.controls['password'].touched ||
        signup_form.controls['password'].dirty)
    "
  >
    <span *ngIf="signup_form.controls['password'].errors?.['required']"
      >*This field is required</span
    >
  </div>

  <button id="signup" type="submit" [disabled]="!signup_form.valid">
    Create Account
  </button>
</form>
