

<body>
<h1><span class="grey"></span><span class="orange"></span>anything<span class="orange2"></span></h1>
<p class="seamless">&#34;Latex Scribe: Elevating Your Document Game, Seamlessly.&#34;</p>
<a routerLink="/signup" routerLinkActive="active" ariaCurrentWhenActive="page" class="button"><b>Sign up for free</b></a>
<h3>Get started fast</h3>
<p>No downloads, no setup, and no need to know LaTeX before you start.</p>
<div class="success-checkmark"></div> <p>&#160;Code Editor</p>
<div class="success-checkmark"></div> <p>&#160;PDF Preview</p>
<div class="success-checkmark"></div> <p>&#160;Built-in templates</p>
</body>
