

<div class="m-5 row">

    <div class="col-6 ">

    <h1 class="mb-3 ">{{selectedTemplate?.name}}</h1>
    <div class="row w-75 mb-3">
        <button class="btn  btn-light w-25 me-2 border-dark rounded-pill" (click)='openPdf()'>View pdf</button>
        <button class="btn btn-sm  w-25 btn-success border-dark rounded-pill  ">Open as template</button>
    </div>


    
    <div class="row ">
        <div class="col-3 ">
            <strong style="font-size: 17px;">Author:</strong>
        </div>
        <div class="col-3  ">
            <p style="font-size: 17px;">{{selectedTemplate?.author}}</p>
        </div>
    </div>


    <div class="row ">
        <div class="col-3 ">
            <strong style="font-size: 17px;">Template category:</strong>
        </div>
        <div class="col-3  ">
            <p style="font-size: 17px;">{{selectedTemplate?.category}}</p>
        </div>
    </div>


    
    <div class="row ">
        <div class="col-3 ">
            <strong style="font-size: 17px;">Abstract:</strong>
        </div>
        <div class="col-3  ">
            <p style="font-size: 17px;">{{selectedTemplate?.description}}</p>
        </div>
    </div>

    <div class="row ">
        <div class="col-3 ">
            <strong style="font-size: 17px;">License:</strong>
        </div>
        <div class="col-3  ">
            <p style="font-size: 17px;">{{selectedTemplate?.license}}</p>
        </div>
    </div>

    <div class="row ">
        <div class="col-3 ">
            <strong style="font-size: 17px;">Template size:</strong>
        </div>
        <div class="col-3 ">
            <p style="font-size: 17px;" >{{selectedTemplate?.size}}</p>
        </div>
    </div>


<div class="row mt-5">
    <button class="btn btn-outline-success mt-5 w-25 " role="button"  (click)='onBack()'>
        <i class='fa fa-chevron-left'></i>Find more templates
    </button>
</div>


</div>

<div class="col-6 text-center   ">
    <img class="img-fluid border"  src="http://localhost:8080/public/templates/{{selectedTemplate?.codeName}}/image.jpg" alt="Card image cap">
</div>
</div>

