<form [formGroup]="formGroup">
  <div class="input-group border border-dark rounded m-1 w-25">
    <input type="text" id="document_name" class="form-control" placeholder="Input Project Name" formControlName="documentName">
  </div>
</form>

<div>
    <ngx-codemirror
      #codemirror
      [options]="{
        lineNumbers: true,
        theme: 'monokai',
        mode: 'stex',
        styleActiveLine: true,
        matchBrackets: true,
        lineWrapping: true,
        
      }"

    ></ngx-codemirror>
</div>

<app-latex-paragraph #contt [inputString]="content"></app-latex-paragraph>

<button class="btn btn-primary" (click)="updateContent()">Run</button>
<button class="btn btn-primary" (click)="saveDocument()">Save PDF</button>

<div>
  <button (click)="exampleEncode()">Encode KaTeX String</button>
</div>

<div>
  <button (click)="exampleEncodeDecode()">Encode and Decode KaTeX String</button>
</div>
