<form [formGroup]="formGroup">
  <div class="input-group border border-dark rounded m-1 w-25">
    <input type="text" id="document_name" class="form-control" placeholder="Input Project Name" formControlName="documentName">
  </div>
</form>

<!-- <app-latex-paragraph #contt [inputString]="content"></app-latex-paragraph> -->

<button class="btn btn-primary" (click)="updatePreview()">Run</button>
<button class="btn btn-primary" (click)="saveDocument()">Save PDF</button>

<div class="row ">
  <div class="col  border border-shadow ms-1">
    <div>
      <ngx-codemirror
        #codemirror
        [options]="{
          lineNumbers: true,
          theme: 'monokai',
          mode: 'stex',
          styleActiveLine: true,
          matchBrackets: true,
          lineWrapping: true,
        }"
      ></ngx-codemirror>
  </div>
  
  </div>
  <div class="col  border border-shadow ms-1">
    <iframe id="preview" ref="preview" sandbox="allow-same-origin allow-scripts" width="100%" height="300px"></iframe>

  </div>
</div>